include ./lib/header.jade
    script.
        !(function() {
            var rem;
            rem = function() {
                document.documentElement.style.fontSize = (document.documentElement.clientWidth || document.documentElement.clientWidth) + 'px';
            };
            rem();
            window.addEventListener('resize', rem, false);
            var _hmt = _hmt || []
        })();

    link(href="/static/css/index.css",rel="stylesheet",type="text/css")
    body
        audio#audio(src="/static/image/background.mp3",loop="loop")
        section.swiper-container
            section.swiper-wrapper
                section.swiper-slide(class="page page-first")
                    div.background=""
                    div.logo=""
                    div.music.music-play=""
                    div.title=""
                    div.sound=""
                    div.up=""
                section.swiper-slide(class="page page1")
                    div.background=""
                    div.music.music-play=""
                    div.nav=""
                    div.title=""
                    div.up=""
                section.swiper-slide(class="page page2")
                    div.background=""
                    div.music.music-play=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                    div.up=""
                section.swiper-slide(class="page page3")
                    div.background=""
                    div.music.music-play=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                    div.up=""
                section.swiper-slide(class="page page4")
                    div.background=""
                    div.music.music-play=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                    div.up=""
                section.swiper-slide(class="page page5")
                    div.background=""
                    div.music.music-play=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                    div.up=""
                section.swiper-slide(class="page page6")
                    div.background=""
                    div.music.music-play=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                    div.up=""
                section.swiper-slide(class="page page7")
                    div.background=""
                    div.music.music-play=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                    div.main=""
                    div.up=""
                section.swiper-slide(class="page page8")
                    div.background=""
                    div.music.music-play=""
                    div.nav=""
                    div.title=""
                    div.main=""
                    div.up=""
                section.swiper-slide(class="page page9")
                    div.background=""
                    div.music.music-play=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                    div.main=""
                    div.main-press=""
                    div.tap-bigger=""
                    div.result=""
                    div.desc=""
                    div.form
                        div.line
                            div.left 姓名：
                            div.right
                                input#name()
                        div.line
                            div.left 电话：
                            div.right
                                input#mobile()
                        div.submit=""
                    div.share=""
    script(language="javascript",src="/static/js/index.min.js")
    script(language="javascript",src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
    script.
        var _hmt = _hmt || [];
        (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?7cde9743ed9d8d859c25d6693815b34f";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);

        })();
