include ./lib/header.jade
    script.
        !(function() {
            var rem;
            rem = function() {
                document.documentElement.style.fontSize = (document.documentElement.clientWidth || document.documentElement.clientWidth) + 'px';
            };
            rem();
            window.addEventListener('resize', rem, false);
        })();

    link(href="/static/css/index.css",rel="stylesheet",type="text/css")
    body

        audio#audio(src="/static/image/background.mp3",loop="loop")
        div#loading=""
        section.swiper-container
            section.swiper-wrapper
                section.swiper-slide(class="page page-first")
                    div.background=""
                    div.title=""
                    div.sound=""
                section.swiper-slide(class="page page1")
                    div.background=""
                    div.nav=""
                    div.title=""
                section.swiper-slide(class="page page2")
                    div.background=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                section.swiper-slide(class="page page3")
                    div.background=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                section.swiper-slide(class="page page4")
                    div.background=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                section.swiper-slide(class="page page5")
                    div.background=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                section.swiper-slide(class="page page6")
                    div.background=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                section.swiper-slide(class="page page7")
                    div.background=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                    div.main=""
                section.swiper-slide(class="page page8")
                    div.background=""
                    div.nav=""
                    div.title=""
                    div.main=""
                section.swiper-slide(class="page page9")
                    div.background=""
                    div.nav=""
                    div.title=""
                    div.sub-title=""
                    div.main=""
                    div.form
                        div.line
                            div.left 姓名：
                            div.right
                                input#name()
                        div.line
                            div.left 电话：
                            div.right
                                input#mobile()
                        div.submit=""
    script(language="javascript",src="/static/js/index.min.js")
    script(language="javascript",src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
